In [2]:
import pandas as pd
import numpy as np
import ta
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_excel('Data\Historical_Data.xlsx',sheet_name='ICICIGI.NS')

In [4]:
df.tail()

,Date,High,Low,Open,Close,Volume,Adj Close
244,2022-08-12,1244.000000,1225.250000,1244.00,1237.849976,659145,1237.849976
245,2022-08-16,1302.000000,1240.050049,1243.00,1296.000000,709618,1296.000000
246,2022-08-17,1369.000000,1296.050049,1298.00,1355.500000,1675014,1355.500000
247,2022-08-18,1362.300049,1323.099976,1355.00,1326.750000,418587,1326.750000
248,2022-08-19,1326.750000,1296.050049,1326.75,1298.849976,174086,1298.849976

In [5]:
Open=df["Open"]
High=df["High"]
Low=df["Low"]
Close=df["Close"]
Volume=df["Volume"]
A=[]
n=df.shape[0]
sl_l=df[n-40:min(n-40+5,n)]["Low"].tolist()
sl_low=min(df[n-40:min(n-40+5,n)]["Low"].tolist())
print(sl_l,sl_low)

[1118.400024414062, 1111.800048828125, 1120.349975585938, 1102.150024414062, 1104.0] 1102.150024414062

In [6]:
%run ./Check_Indicators.ipynb
Check_Indicators(Open,High,Low,Close,Volume,A)

[0,
 -1,
 0,
 0,
 <function __main__.Check_BollingerBands(Open, High, Low, Close)>,
 'Volume No']

AttributeError: 'numpy.float64' object has no attribute 'rolling'

In [12]:
Open=df.iloc[-100:-1]["Open"]
High=df.iloc[-100:-1]["High"]
Low=df.iloc[-100:-1]["Low"]
Close=df.iloc[-100:-1]["Close"]
print(A)

[0, -1, 0, 0, <function Check_BollingerBands at 0x0000023D95E13EE0>, 'Volume No']

In [15]:
ta.volatility.bollinger_hband_indicator(Close).iloc[-1]

1.0

In [9]:
sum=0
multiplier=1
for i in A:
    if (isinstance(i,int)==1) :
        sum+=i
    if i=='Volume Yes' :
        multiplier*=2
    if i=='Volume No' :
        multiplier*=0.5
    if i=='Doji':
        multiplier*=2
sum=sum*multiplier
A.append(sum)
print(A)

[0, 0, 0, 0, 'Volume No', 0, 'Doji No', 0.0]

In [10]:
nifty_tickers=pd.read_csv('Nifty_yahoo_ticker.csv')

In [11]:
print(nifty_tickers)

    Unnamed: 0                                  Company Name  \
0            0    Adani Ports and Special Economic Zone Ltd.
1            1                             Asian Paints Ltd.
2            2                                Axis Bank Ltd.
3            3                               Bajaj Auto Ltd.
4            4                            Bajaj Finance Ltd.
5            5                            Bajaj Finserv Ltd.
6            6             Bharat Petroleum Corporation Ltd.
7            7                            Bharti Airtel Ltd.
8            8                     Britannia Industries Ltd.
9            9                                    Cipla Ltd.
10          10                               Coal India Ltd.
11          11                      Divi's Laboratories Ltd.
12          12                 Dr. Reddy's Laboratories Ltd.
13          13                            Eicher Motors Ltd.
14          14                        Grasim Industries Ltd.
15          15                         HCL Technologies Ltd.
16          16                                HDFC Bank Ltd.
17          17              HDFC Life Insurance Company Ltd.
18          18                            Hero MotoCorp Ltd.
19          19                      Hindalco Industries Ltd.
20          20                       Hindustan Unilever Ltd.
21          21  Housing Development Finance Corporation Ltd.
22          22                               ICICI Bank Ltd.
23          23                                      ITC Ltd.
24          24                   Indian Oil Corporation Ltd.
25          25                            IndusInd Bank Ltd.
26          26                                  Infosys Ltd.
27          27                                JSW Steel Ltd.
28          28                      Kotak Mahindra Bank Ltd.
29          29                          Larsen & Toubro Ltd.
30          30                      Mahindra & Mahindra Ltd.
31          31                      Maruti Suzuki India Ltd.
32          32                                     NTPC Ltd.
33          33                             Nestle India Ltd.
34          34            Oil & Natural Gas Corporation Ltd.
35          35          Power Grid Corporation of India Ltd.
36          36                      Reliance Industries Ltd.
37          37               SBI Life Insurance Company Ltd.
38          38                             Shree Cement Ltd.
39          39                           State Bank of India
40          40            Sun Pharmaceutical Industries Ltd.
41          41                Tata Consultancy Services Ltd.
42          42                   Tata Consumer Products Ltd.
43          43                              Tata Motors Ltd.
44          44                               Tata Steel Ltd.
45          45                            Tech Mahindra Ltd.
46          46                            Titan Company Ltd.
47          47                                      UPL Ltd.
48          48                         UltraTech Cement Ltd.
49          49                                    Wipro Ltd.

                    Industry      Symbol Series     ISIN Code   Yahoo_Symbol
0                   SERVICES  ADANIPORTS     EQ  INE742F01042  ADANIPORTS.NS
1             CONSUMER GOODS  ASIANPAINT     EQ  INE021A01026  ASIANPAINT.NS
2         FINANCIAL SERVICES    AXISBANK     EQ  INE238A01034    AXISBANK.NS
3                 AUTOMOBILE  BAJAJ-AUTO     EQ  INE917I01010  BAJAJ-AUTO.NS
4         FINANCIAL SERVICES  BAJFINANCE     EQ  INE296A01024  BAJFINANCE.NS
5         FINANCIAL SERVICES  BAJAJFINSV     EQ  INE918I01018  BAJAJFINSV.NS
6                  OIL & GAS        BPCL     EQ  INE029A01011        BPCL.NS
7                    TELECOM  BHARTIARTL     EQ  INE397D01024  BHARTIARTL.NS
8             CONSUMER GOODS   BRITANNIA     EQ  INE216A01030   BRITANNIA.NS
9                     PHARMA       CIPLA     EQ  INE059A01026       CIPLA.NS
10                    METALS   COALINDIA     EQ  INE522F01014   COALINDIA.NS
11                    PHARMA    DIVISLAB     EQ  INE361B01024    DIVISLAB.NS
12                    PHARMA     DRREDDY     EQ  INE089A01023     DRREDDY.NS
13                AUTOMOBILE   EICHERMOT     EQ  INE066A01021   EICHERMOT.NS
14  CEMENT & CEMENT PRODUCTS      GRASIM     EQ  INE047A01021      GRASIM.NS
15                        IT     HCLTECH     EQ  INE860A01027     HCLTECH.NS
16        FINANCIAL SERVICES    HDFCBANK     EQ  INE040A01034    HDFCBANK.NS
17        FINANCIAL SERVICES    HDFCLIFE     EQ  INE795G01014    HDFCLIFE.NS
18                AUTOMOBILE  HEROMOTOCO     EQ  INE158A01026  HEROMOTOCO.NS
19                    METALS    HINDALCO     EQ  INE038A01020    HINDALCO.NS
20            CONSUMER GOODS  HINDUNILVR     EQ  INE030A01027  HINDUNILVR.NS
21        FINANCIAL SERVICES        HDFC     EQ  INE001A01036        HDFC.NS
22        FINANCIAL SERVICES   ICICIBANK     EQ  INE090A01021   ICICIBANK.NS
23            CONSUMER GOODS         ITC     EQ  INE154A01025         ITC.NS
24                 OIL & GAS         IOC     EQ  INE242A01010         IOC.NS
25        FINANCIAL SERVICES  INDUSINDBK     EQ  INE095A01012  INDUSINDBK.NS
26                        IT        INFY     EQ  INE009A01021        INFY.NS
27                    METALS    JSWSTEEL     EQ  INE019A01038    JSWSTEEL.NS
28        FINANCIAL SERVICES   KOTAKBANK     EQ  INE237A01028   KOTAKBANK.NS
29              CONSTRUCTION          LT     EQ  INE018A01030          LT.NS
30                AUTOMOBILE         M&M     EQ  INE101A01026         M&M.NS
31                AUTOMOBILE      MARUTI     EQ  INE585B01010      MARUTI.NS
32                     POWER        NTPC     EQ  INE733E01010        NTPC.NS
33            CONSUMER GOODS   NESTLEIND     EQ  INE239A01016   NESTLEIND.NS
34                 OIL & GAS        ONGC     EQ  INE213A01029        ONGC.NS
35                     POWER   POWERGRID     EQ  INE752E01010   POWERGRID.NS
36                 OIL & GAS    RELIANCE     EQ  INE002A01018    RELIANCE.NS
37        FINANCIAL SERVICES     SBILIFE     EQ  INE123W01016     SBILIFE.NS
38  CEMENT & CEMENT PRODUCTS    SHREECEM     EQ  INE070A01015    SHREECEM.NS
39        FINANCIAL SERVICES        SBIN     EQ  INE062A01020        SBIN.NS
40                    PHARMA   SUNPHARMA     EQ  INE044A01036   SUNPHARMA.NS
41                        IT         TCS     EQ  INE467B01029         TCS.NS
42            CONSUMER GOODS  TATACONSUM     EQ  INE192A01025  TATACONSUM.NS
43                AUTOMOBILE  TATAMOTORS     EQ  INE155A01022  TATAMOTORS.NS
44                    METALS   TATASTEEL     EQ  INE081A01012   TATASTEEL.NS
45                        IT       TECHM     EQ  INE669C01036       TECHM.NS
46            CONSUMER GOODS       TITAN     EQ  INE280A01028       TITAN.NS
47  FERTILISERS & PESTICIDES         UPL     EQ  INE628A01036         UPL.NS
48  CEMENT & CEMENT PRODUCTS  ULTRACEMCO     EQ  INE481G01011  ULTRACEMCO.NS
49                        IT       WIPRO     EQ  INE075A01022       WIPRO.NS

In [12]:
dF=pd.DataFrame([],columns=["a","b","c"])

In [16]:
Close=df[-5:]["Close"]
print(Close)
c=Close.tolist()
print(c)

1053    1409.800049
1054    1423.599976
1055    1449.550049
1056    1448.949951
1057    1446.550049
Name: Close, dtype: float64
[1409.800048828125, 1423.599975585938, 1449.550048828125, 1448.949951171875, 1446.550048828125]

In [13]:
A=1
B=A+1
print(B)

2

In [18]:
a=[2.119388374778,1.22]
print('%.2f'%a)

TypeError: must be real number, not list

In [1]:
min(1-3+5,1)

1